<div class="footer">
    <h1>Mentions légales</h1>
    <p>Ce site est développé par <strong class="fs-3">Job Makombela</strong>.</p>
    <p>Adresse : 414 bis route de Saint Simon, Toulouse, France</p>
    <p>Email : contact@jobmakombela.fr</p>
    <p>Numéro de téléphone : +33 7 61 07 80 91</p>
</div>